
.banner{
    background: rgb(92,207,228);
    background: linear-gradient(90deg, rgba(92,207,228,1) 36%, rgba(159,238,220,1) 68%);
    background-size:auto;
    box-sizing:border-box;
    color:rgb(43, 56, 90);
    display:block;
    padding-bottom:80px;
    position:relative;
    padding-top: 5em;
}
.custom-card{
    box-shadow: 5px 5px 10px 5px rgb(100, 155, 165);
    margin-bottom: 2em;
}
.custom-card:hover{
    background: linear-gradient(90deg, rgb(165, 227, 238) 36%, rgb(197, 238, 228) 68%);;
}
.card{
    color: rgb(43, 56, 90);
}

.btn-custom {
    background: #4cbbb9 !important;
    color:whitesmoke !important
}
.btn-custom:hover{
    background: #fae3d9 !important;
    color:black !important
}

.add-btn{
    position: fixed;
    bottom: 20px;
    left: 50%;
    margin-left: -35px;
    border-radius: 35px;
    height: 70px;
    width: 70px;
    line-height: 70px;
    font-size: 36px;
    color: #fff;
    text-align: center;
    background-color: #3b6978;
    display: block;
    z-index: 10;
    -webkit-transition: background-color .15s ease-in-out;
    transition: background-color .15s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center
    
}
.add-btn:hover{
    cursor: pointer;
    background-color: #164a5c;
}

.modal-backdrop.fade {
    opacity: 0.5 !important;
}

.fade:not(.show) {
    opacity: 0.9 !important;
}



.blog-form textarea {
    margin-bottom: 15px;
    border: 1px solid #e1e1e1;
    background: #afe6e5;
}
.blog-form input, .demo-editor {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    background: #bfeceb;
    border-radius: 4px;
    padding-left: 15px;
    height: 55px;
    line-height: 55px;
    clear: both;
    border: 1px solid #e1e1e1;
}
.blog-form input[type=submit] {
    margin-top: 15px;
}
input[type=submit], .blog-form input[type=submit] {
    color: #ffffff;
    background: #437eeb;
    cursor: pointer;
    height: auto;
    line-height: 26px !important;
    padding: 11px 30px;
    font-size: 1em;
    border: none;
    position: relative;
    display: inline-block;
    width: auto;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 4px;
    
}

.text-green {
    color:rgba(92,207,228,1);
    font-weight: bold;
}

.like-btn:hover{
    color:rgb(54, 111, 233);
    cursor: pointer;
}

footer{
    background: whitesmoke;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 10px 5px rgb(165, 227, 238);
    padding: 1em;
}

a {
color: inherit;
text-decoration: none;
}
